.footer-logo {
  @include transform(scale(1));
  @include transition(transform .3s);
  background-image: url('images/whitebear4pt.png');
  background-size: cover;
  height: 120px;
  width: 140px;

  &:hover {
    @include transform(scale(1.1));
  }
}
