.gallery-container {
  @include justify-content(center);
  margin: 5px 0;
}

.gallery-block {
  border: 10px solid $_green;
  margin: 5px;
  position: relative;
  width: 30vw;

  &:focus {
    outline-color: $_pink;
  }
}

.gallery-image {
  height: auto;
  display: block;
  width: 100%;
}

.image-hover {
  @include transition(opacity .3s ease);
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include align-items(flex-end);
  @include flex-grow(0);
  background-color: rgba(0, 0, 0, .5);
  color: $_white;
  height: 100%;
  left: 0;
  line-height: normal;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 100%;

  &:hover {
    opacity: 1;
  }
}

.mfp-counter {
  @include font-size(2.6);
}
