.image-listing {
  @include align-items(center);
  margin: $division-width 0;
}

.gallery-box {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-grow(1);
  border: solid 5px $gallery-borders;
  padding-top: 20px;

  &:nth-child(odd) {
    border-left-width: 10px;
  }

  &:nth-child(even) {
    border-right-width: 10px;
  }

  &:nth-child(-n+2) {
    border-top-width: 10px;
  }

  &:nth-last-child(-n+2) {
    border-bottom-width: 10px;
    }

  h2 {
    margin-bottom: 20px;
  }

  &:hover {
    .hover {
      opacity: 1;
    }
  }
}

.image-container {
  position: relative;
}

.cover {
  display: block;
  width: calc(50vw - 15px);
}

.hover {
  @include transition(opacity .3s ease);
  background-color: rgba($_orange, .5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hover-plus {
  @include font-size(3);
  @include absolute-center(absolute);
  background-color: ($_orange);
  color: $_white;
  height: 40px;
  width: 40px;

  .fa {
    margin: 1px 5px;
  }
}
