.page-intro {
  background-color: $intro-background-colour;
  color: $intro-text-colour;
  font-weight: 300;
  line-height: 1.5;
  margin-top: $division-width;
  padding: 40px 80px;
  text-align: center;
}
