$_white: #fff;
$_black: #000;
$_pink: #d90368;
$_green: #2ec4b6;
$_purple: #820263;
$_raisin: #291720;
$_orange: #f75c03;

$body-colour: $_raisin;
$header-colour: $_pink;
$nav-item-colour: $_raisin;
$hero-colour: $_green;
$title-colour: $_raisin;
$subtitle-colour: $_white;
$social-bar-colour: $_orange;
$social-icon-colour: $_white;
$intro-background-colour: $_purple;
$intro-text-colour: $_white;
$cta-background-colour: $_pink;
$cta-text-colour: $_raisin;
$footer-colour: $_green;

$division-width: 10px;


