* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    @include box-sizing(border-box);
  }

  @include input-placeholder {
    @include transition(color .3s ease);
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 62.5%;
}

body {
  @include font-size(2.6);
  background-color: $body-colour;
  font-weight: 300;
}

h1 {
  @include font-size(10);
  color: $title-colour;
  font-weight: 600;
  text-align: center;
}

h2 {
  @include font-size(5.4);
  color: $subtitle-colour;
  font-weight: 100;
}

a {
  color: $nav-item-colour;
  display: block;
  text-decoration: none;
}

small {
  @include font-size(1.6);
  color: $_white;
}

header {
  @include display-flex;
  @include justify-content(space-around);
  @include align-items(center);
  background-color: $header-colour;
  height: 80px;
  padding: 0 40px;
}

footer {
  @include justify-content(center);
  margin-top: $division-width;
  padding: 20px 40px;
}
