* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    @include box-sizing(border-box);
  }

  @include input-placeholder {
    @include transition(color .3s ease);
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;

  &,
  &.wf-loading {
    visibility: hidden;
  }
}

.wf-active {
  visibility: visible;
}
